
/*body, p, td, h1*/
body
{
    background: url(images/holly-dark.png);
    background-color: black;
    background-repeat: repeat-y;
    background-size: 5em;
    color: #ffffff;
    font-family: comic sans ms, arial, tahoma;
    font-size: 120%;
    margin-right: 2.5em;
    margin-left: 5em;
    max-width: 1000px;
}
h1
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
    color: #cc0000;
}
div#letter img
{
    border: 0px;
    display: block;
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div#divPopup img
{
    max-width: 950px;
}

div#dialogclose {
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:active
{
    COLOR: #339900;
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: none;
}
.caption
{
	font-size: smaller;
	font-style: italic;
	color: #aaaaaa;
    TEXT-ALIGN: center;
}
.quote
{
	FONT-SIZE: 16pt;
	FONT-WEIGHT: normal;
	FONT-STYLE: italic;
    COLOR: #aaaaaa;
}
.subhead
{
	FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
}
.nodec
{
    TEXT-DECORATION: none;
}

.black{
    background-color: black;
}

a.btn:link, a.btn:visited, a.btn:active, a.btn:hover {
  color: #fff;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #357ebd;
}

a.btn-close:link, a.btn-close:hover {
  color: #357ebd;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}

